html,
body,
#root {
	min-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	font-size: 100%;
	line-height: 1.5;
}

.App {
	width: 100vw;
	height: 100vh;
	display: grid;
	justify-items: center;

	color: var(--global-color-text);
	font-family: Raleway;

	background-color: var(--global-color-background);
}
