.p-manual {
	width: 100%;
	height: auto;

	grid-template-rows: auto;
	overflow: hidden;

	&__header {
		padding-block: 4rem;
		padding-inline: 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-height: 1rem;
		background-color: #121212;
	}

	.content {
		margin-left: auto;
		margin-right: auto;
		width: min(24rem, 100%);
		padding-top: 6rem;
		padding-inline: 1rem;
		display: grid;
		gap: 10.625rem;

		.text {
			margin-bottom: 1rem;
			text-align: center;
		}
	}
}
