.p-score {
	height: 100%;
	padding-bottom: 3rem;
	padding-inline: 1rem;
	width: min(24rem, 100%);

	display: grid;
	gap: 1rem;
	grid-template-rows: auto;
	align-items: end;

	.scorevalue-container {
		display: grid;
		grid-template-rows: 1fr;
		height: fit-content;
		width: 100%;
		grid-template-columns: 1fr max-content 1fr;
		justify-items: center;
	}

	.teamname {
		font-family: Rajdhani;
		font-size: 2rem;
	}

	.seperator {
		text-align: center;
		justify-self: center;
		font-family: DSEG7-Classic;
		font-weight: 500;
		font-size: min(7.5rem, 20vmin);
		align-self: start;
		width: min-content;
	}

	.t-rocker + .seperator {
		height: 100%;
		text-align: center center;
		display: grid;
		place-items: center;
	}
}
