.p-users {
	width: min(24rem, 100%);
	padding: 0 0 1rem 0;
	height: 100%;
	display: grid;
	gap: 1rem;
	grid-template-rows: auto;
	overflow: hidden;

	.header {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		background-color: #121212;
		padding: 0.5rem;
		height: fit-content;

		& svg {
			stroke: #eee;
			align-self: start;
		}

		& svg:last-of-type {
			fill: #eee;
			stroke: none;
		}
	}

	h1 {
		padding: 0 1rem;
	}

	.c-input {
		padding: 0 1rem;
	}

	.subtitle {
		padding-bottom: 1rem;
		font-size: 1.5rem;
	}

	&__button {
		padding: 0 1rem;
	}

	.list {
		overflow-y: auto;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		padding: 0 1rem;
	}

	.userlist {
		padding-top: 4rem;
		overflow-y: hidden;

		.title {
			padding-bottom: 2rem;
		}
	}
}
