.c-colorpicker {
	position: absolute;
	width: 100%;
	height: 100%;
	display: grid;

	&__overlay {
		opacity: 0.7;
		z-index: 1;
		background-color: #000000;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	&__container {
		padding: 20px;
		background-color: #eeeeee;
		height: 90vh;
		overflow-y: auto;
		width: 90%;
		margin: auto;
		z-index: 2;
		max-width: 400px;
	}

	&__hidden {
		display: none;
	}

	& .c-flag {
		margin-bottom: 30px;
	}

	&__close {
		& svg {
			stroke: #121212;
		}
	}

	& p {
		color: #121212;
		text-align: center;
		margin-bottom: 20px;
	}

	&__colors {
		gap: 15px 0;
		margin-bottom: 30px;
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		justify-items: center;

		&-color {
			width: 60px;
			height: 60px;
			border-radius: 8px;
			position: relative;

			@media screen and (max-width: 460px) {
				width: 40px;
				height: 40px;
			}

			@media screen and (max-width: 295px) {
				width: 30px;
				height: 30px;
			}
		}

		&-colorSelected {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #000;
			opacity: 0.5;
			border-radius: 8px;
		}

		&-colorAdd {
			background-color: #000;
			opacity: 0.5;
			border-radius: 8px;
			width: 60px;
			height: 60px;
			border: 1px dashed #fff;
			display: flex;
			align-items: center;
			justify-content: center;

			& svg {
				stroke-width: 4px;
				stroke: #fff;

				@media screen and (max-width: 460px) {
					stroke-width: 2px;
				}
			}

			@media screen and (max-width: 460px) {
				width: 40px;
				height: 40px;
			}

			@media screen and (max-width: 295px) {
				width: 30px;
				height: 30px;
			}
		}
	}

	& .c-iconbutton {
		max-width: 250px;
		margin: 0 auto;
	}
}
